.about-top .middle{
  background: url(../img/bg_about.png) no-repeat;
  background-size: 100%;
}

.about-top {
  /*background-color: #470832;*/
}

.about-top h3{
  padding-top: 0;
}

.about-top p {
  display: table;
  margin: 0 auto;
  margin-bottom: 135px;
  margin-left: 50%;
  padding: 15px 25px !important;
  background: rgba(0, 0, 0, 0.2);
  width: 43%;
  padding: 5px;
  color: white;
}

.about-top2 {
  background: #f2f6f9;
  overflow: hidden;
  transform: rotate(-2deg);
  margin-top: -35px;
}

/*.about-top2 .bg-top2{
  position: absolute;
  right: -300px;
  bottom: -220px;
  background: #470832;
  transform: rotate(-4deg);
  width: 10000px;
  height: 750px;
  z-index: -1;
}*/

.about-top2 p {
  display: inline-block;
  width: 45%;
  color: #000;
  /*border-right: 1px dashed #fff;*/
  margin-top: 0;
  margin-left: 5.5%;
  margin-bottom: 50px;
  padding-right: 90px;
  transform: rotate(2deg);
}

.about-top2 button {
  width: 205px;
  vertical-align: top;
  margin-left: 5%;
  line-height: 22px;
  color: #fff;
  background: #ff6c22;
  -webkit-box-shadow: 4px 4px 2px #000;
  -moz-box-shadow: 4px 4px 2px #000;
  box-shadow: 4px 4px 2px #000;
  transform: rotate(3deg);
}

.about-top2 button:hover {
    background: #ff7d33;
}

.about-mid h3 {
  margin-top: 0;
  padding-top: 0;
}

.mid-imgs-block img {
  display: inline-block;
  width: 32%;
  margin-right: 1%;
}

.mid-features {
  list-style: none;
}

.mid-features li{
  display: inline-block;
  width: 21%;
  margin-right: 4%;
}

.mid-features li:last-child{
  margin-right: 0;
}

.mid-features li img{
  width: 41%;
}

.mid-features li p{
font-weight: bold;
text-align: center;
font-size: 1.2em;
}

.about-mid2 {
  background: #f2f6f9;
  overflow: hidden;
  transform: rotate(-3deg);
}

.mid2-bg {
  position: absolute;
  width: 125%;
  height: 100%;
  background: #f2f6f9;
}

.about-mid2 h3,
.about-mid2 .mid2-blo {
  transform: rotate(3deg);
  position: relative;
}

.about-mid2 p {
  font-size: 1.1em;
  width: 43%;
  margin-bottom: 35px;
}

.about-mid2 button {
  margin-left: 10%;
  color: #fff;
  background: #ff6c22;
  -webkit-box-shadow: 4px 4px 2px #666;
  -moz-box-shadow: 4px 4px 2px #666;
  box-shadow: 4px 4px 2px #666;
}

.about-mid2 img {
  position: absolute;
  top: 65px;
  right: 67px;
  width: 40%;
}

.about-mid2 button:hover {
  background: #ff7d33;
}


.otziv-block {
  margin-bottom: 25px;
}
.otziv-item {
  display: inline-block;
  width: 30%;
  margin-right: 3%;
}

.otziv-item img {
  width: 75%;
}

.otziv-item p {
  position: relative;
  background: #f2f6f9;
  padding: 15px 15px 25px 15px;
}

.otziv-item p::after {
content: '';
    position: absolute;
    left: 75px;
    top: -25px;
    border: 10px solid transparent;
    border-bottom: 15px solid #f2f6f9;
}

.about-otziv span {
  width: 125px;
  display: block;
  margin: 0 auto;
  text-decoration: underline;
  margin-bottom: 25px;
  cursor: pointer;
}
.about-otziv span img {
  display: inline;
  margin: 0;
  padding-right: 10px;
}

.otziv-block-hidden {
  display: none;
}

main .cont_banner.key {
  background-image: url(../img/bg_banner3.png);
}

.info_phone a {
  padding: 0;
}

.info_phone a:last-child {
  padding-left: 15px;
}

main .cont_banner.key .cont_ban_text input[type=button],
footer button {
  background: #ff6c22;
  -webkit-box-shadow: 4px 4px 2px #000;
  -moz-box-shadow: 4px 4px 2px #000;
  box-shadow: 4px 4px 2px #000;
}

footer button {
  margin-top: 30px;
}

main .cont_banner.key .cont_ban_text input[type=button]:hover,
footer button:hover {
  background: #ff7d33;
}

main .cont_banner.key .banner_stiker .time::before,
main .cont_banner.key .banner_stiker .adress::before,
main .cont_banner.key .banner_stiker .phone::before {
  filter: hue-rotate(255deg);"
}

footer nav {
  width: 45%;
}

footer .middle {
  position: relative;
}

footer .corporation {
  position: absolute;
  float: none;
  left: -32%;
  top: 82%;
  padding-top: 0;
  margin-top: 30px;
}

footer .corporation p {
  width: 42%;
  border-color: #ff6c22;
}

.modal > div {
  border-top: 5px solid #ff6c22;
  -webkit-box-shadow: 0 3px 20px #ff6c22;
  -moz-box-shadow: 0 3px 20px #ff6c22;
  box-shadow: 0 3px 20px #ff6c22;
}

.fon_form_wins input {
  border: 1px solid #ff6c22;
}

@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .about-top p {
    margin-bottom: 95px;
  }

  .about-top2 .bg-top2{
    bottom: -280px;
  }
}
