@import url("https://fonts.googleapis.com/css?family=Play:400,700|Roboto:400,700,900&subset=cyrillic,cyrillic-ext");
body {
  font-family: 'Play', sans-serif;
}

.middle {
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
  min-width: 883px;
}
.middle:after {
  content: " ";
  display: block;
  clear: both;
}

html {
  font-size: 100%;
  line-height: 1.5em;
}

@media only screen and (min-width: 320px) and (max-width: 1200px) {
  html {
    font-size: 75%;
    line-height: 1.5em;
  }
}
img,
iframe {
  margin: auto;
  display: block;
  max-width: 100%;
  margin-top: 18px;
  margin-top: 1.5rem;
  margin-bottom: 18px;
  margin-bottom: 1.5rem;
  margin-top: 18px;
  margin-top: 1.5rem;
}

a {
  text-decoration: none;
  color: black;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}
a:visited {
  color: #467fa9;
}
a:focus {
  color: green;
}
a:hover {
  color: #467fa9;
}
a:active {
  color: red;
}

h1 {
  font-size: 38px;
  font-size: 3.188rem;
  line-height: 54px;
  line-height: 4.5rem;
}

h3 {
  font-size: 29px;
  font-size: 2.438rem;
  line-height: 36px;
  line-height: 3rem;
  font-weight: 700;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
  text-align: center;
  padding-top: 18px;
  padding-top: 1.5rem;
}

h4 {
  font-size: 23px;
  font-size: 1.875rem;
  line-height: 36px;
  line-height: 3rem;
  color: #2cc457;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
  text-align: center;
}

.middle::after {
  content: "";
  display: table;
  clear: both;
}

button {
  font-family: 'Play', sans-serif;
  font-size: 16px;
  font-size: 1.292rem;
  line-height: 36px;
  line-height: 3rem;
  font-weight: 400;
  border: 0;
}
button:hover {
  background: #5086af;
  cursor: pointer;
}

input[type=button] {
  font-family: 'Play', sans-serif;
  font-size: 16px;
  font-size: 1.292rem;
  line-height: 36px;
  line-height: 3rem;
  font-weight: 400;
  border: 0;
}
input[type=button]:hover {
  background: #dce7ef;
  cursor: pointer;
}

header {
  position: fixed;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
  z-index: 120;
  background: rgba(255, 255, 255, 0.9);
}
header .middle {
  padding-top: 18px;
  padding-top: 1.5rem;
  padding-bottom: 9px;
  padding-bottom: 0.75rem;
}
header .img_logo {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 20%;
  float: left;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
  margin-left: 1.33333%;
}
header .img_logo img {
  width: 80%;
  padding: 0;
  margin: 0;
}
header nav {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 53.33333%;
  float: left;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header nav ul {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
}
header nav li {
  display: inline;
  padding: 0 1%;
}
header nav li::after {
  content: '/';
  margin-left: 1%;
}
header nav li:last-child::after {
  content: "";
}
header nav a {
  font-size: 18px;
  font-size: 1.5rem;
  line-height: 36px;
  line-height: 3rem;
}
header button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 18.66667%;
  float: right;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
  background: #000;
  color: #fff;
  margin-right: 2.4rem;
}

main {
  padding-top: 5.7rem;
}
main .cont_banner {
  background-size: cover;
  background-position: center;
}
main .cont_banner .middle {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 32.8rem;
}
main .cont_banner .middle .cont_ban_text {
  padding-top: 23px;
  padding-top: 1.95rem;
  padding-bottom: 23px;
  padding-bottom: 1.95rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-image: url(../img/bg_banner_text.png);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
}
main .cont_banner .middle .cont_ban_text h1 {
  color: #fff;
}
main .cont_banner .middle .cont_ban_text span {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
  color: #2cc457;
  font-size: 28px;
  font-size: 2.313rem;
  line-height: 36px;
  line-height: 3rem;
  text-align: center;
}
main .cont_banner .middle button {
  margin-top: 36px;
  margin-top: 3rem;
  margin-bottom: -45px;
  margin-bottom: -3.75rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 21.33333%;
  float: left;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
  background: #2cc457;
  font-weight: 700;
}
main .cont_banner .middle button:hover {
  background: #5086af;
  cursor: pointer;
}
main .cont_banner.one {
  background-image: url(../img/bg_head.jpg);
}
main .cont_banner.bibika {
  background-image: url(../img/baner_bg.jpg);
}
main .cont_banner.bibika h3 {
  color: #fff;
  margin-top: 10rem;
}
main .cont_banner.bibika span {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
  color: #2cc457;
  font-size: 23px;
  font-size: 1.875rem;
  line-height: 36px;
  line-height: 3rem;
  text-align: center;
}
main .cont_banner.bibika button {
  background: #fff;
}
main .cont_banner.bibika button:hover {
  background: #5086af;
  cursor: pointer;
}
main .cont_banner.key {
  box-shadow: 0 0 50px #000;
  z-index: 99;
  position: relative;
  background-image: url(../img/bg_banner2.jpg);
}
main .cont_banner.key .middle {
  height: 28.8rem;
}
main .cont_banner.key h3 {
  color: #fff;
  padding-bottom: 3rem;
}
main .cont_banner.key .cont_ban_text {
  margin-bottom: 3rem;
  height: 3rem;
}
main .cont_banner.key .cont_ban_text input[type=text] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 30%;
  float: left;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
  margin-right: 1.5%;
  margin-left: 1.5%;
  font-family: Roboto;
  font-size: 12px;
  font-size: 1rem;
  line-height: 18px;
  line-height: 1.5rem;
  color: #636363;
}
main .cont_banner.key .cont_ban_text input[type=button] {
  background: #2cc456;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
  top: 2rem;
  left: 15.5rem;
}
main .cont_banner.key .cont_ban_text input[type=button]:hover {
  background: #dce7ef;
  cursor: pointer;
}
main .cont_banner.key .banner_stiker {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
main .cont_banner.key .banner_stiker div {
  color: #e8e8e8;
  font-size: 12px;
  font-size: 1rem;
  line-height: 18px;
  line-height: 1.5rem;
  line-height: 4.5rem;
}
main .cont_banner.key .banner_stiker div a {
  color: #e8e8e8;
}
main .cont_banner.key .banner_stiker div a:hover {
  cursor: pointer;
}
main .cont_banner.key .banner_stiker div::before {
  content: '';
  float: left;
  padding-right: 5%;
  background-repeat: no-repeat;
  width: 3rem;
  height: 5rem;
  position: relative;
  top: 0.5rem;
}
main .cont_banner.key .banner_stiker .time {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 26.66667%;
  float: left;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
}
main .cont_banner.key .banner_stiker .time::before {
  background-image: url(../img/time.png);
}
main .cont_banner.key .banner_stiker .adress {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 26.66667%;
  float: left;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
}
main .cont_banner.key .banner_stiker .adress::before {
  background-image: url(../img/maps.png);
}
main .cont_banner.key .banner_stiker .phone {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 20%;
  float: left;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
}
main .cont_banner.key .banner_stiker .phone::before {
  background-image: url(../img/phone.png);
}
main .cont_garant .middle {
  padding-bottom: 54px;
  padding-bottom: 4.5rem;
}
main .cont_garant hgroup {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 60%;
  float: left;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
  margin: 0 20%;
  border-bottom: 1px solid #2cc457;
  padding-bottom: 1rem;
}
main .cont_garant .cont__gar_list {
  margin-left: 6.66667%;
  list-style-position: outside;
  list-style: inherit;
}
main .cont_garant .cont__gar_list div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 43.33333%;
  float: left;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
  height: 6rem;
  margin: 2rem;
}
main .cont_garant .cont__gar_list div span {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 87%;
  float: right;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
  font-size: 17px;
  font-size: 1.375rem;
  line-height: 36px;
  line-height: 3rem;
  line-height: 1.5rem;
}
main .cont_garant .cont__gar_list div p {
  font-family: 'Roboto', sans-serif;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 87%;
  float: right;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
  font-size: 12px;
  font-size: 1rem;
  line-height: 18px;
  line-height: 1.5rem;
  list-style-position: outside;
}
main .cont_garant .cont__gar_list div::before {
  content: '';
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 11%;
  float: left;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
  background-size: 90%;
  height: 41px;
  margin-right: 2%;
  background-repeat: no-repeat;
  margin-top: 1rem;
}
main .cont_garant .cont__gar_list div::before img {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 90%;
  float: left;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
}
main .cont_garant .cont__gar_list .gar_list1::before {
  background-image: url(../img/gar_list/1.png);
}
main .cont_garant .cont__gar_list .gar_list2::before {
  background-image: url(../img/gar_list/2.png);
}
main .cont_garant .cont__gar_list .gar_list3::before {
  background-image: url(../img/gar_list/3.png);
}
main .cont_garant .cont__gar_list .gar_list4::before {
  background-image: url(../img/gar_list/4.png);
}
main .cont_garant .cont__gar_list .gar_list5::before {
  background-image: url(../img/gar_list/5.png);
}
main .cont_garant .cont__gar_list .gar_list6::before {
  background-image: url(../img/gar_list/6.png);
}
main .cont_uslgi_box {
  background: #f2f6f9;
}
main .cont_uslgi_box h3 {
  padding-bottom: 36px;
  padding-bottom: 3rem;
}
main .cont_uslgi_box .uslugi_box_list {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25.33333%;
  float: left;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
  margin-left: 6.33333%;
  margin-bottom: 36px;
  margin-bottom: 3rem;
}
main .cont_uslgi_box .uslugi_box_list div {
  margin-bottom: 198px;
  margin-bottom: 16.5rem;
}
main .cont_uslgi_box .uslugi_box_list div img {
  margin-bottom: -1.5rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
  padding: 0;
  margin: 0;
}
main .cont_uslgi_box .uslugi_box_list div span {
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
  background: #000;
  padding-left: 1rem;
  color: #fff;
  font-size: 17px;
  font-size: 1.375rem;
  line-height: 36px;
  line-height: 3rem;
  line-height: 1.4rem;
  height: 4rem;
}
main .cont_uslgi_box .uslugi_box_list ul {
  list-style: disc;
  padding-left: 1.5rem;
  padding-top: 34px;
  padding-top: 2.85rem;
  padding-bottom: 11px;
  padding-bottom: 0.9rem;
  min-height: 5rem;
}
main .cont_uslgi_box .uslugi_box_list ul li {
  font-family: 'Roboto', sans-serif;
}
main .cont_uslgi_box .uslugi_box_list button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #2cc457;
  background: #fff;
  color: #2cc457;
  font-size: 11px;
  font-size: 0.9rem;
  line-height: 18px;
  line-height: 1.5rem;
  font-weight: 700;
}
main .cont_uslgi_box .uslugi_box_list button:hover {
  background: #5086af;
  cursor: pointer;
}
main .cont_arguments {
  background: #f2f6f9;
}
main .cont_arguments .middle > img {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 46.66667%;
  float: left;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
  padding-left: 0;
  margin: 0;
}
main .cont_arguments h3 {
  padding-bottom: 3rem;
}
main .cont_arguments div ul {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 53.33333%;
  float: left;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
  list-style-image: url(../img/star.png);
  list-style-position: outside;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 3rem;
  padding-top: 72px;
  padding-top: 6rem;
}
main .cont_arguments div ul li {
  font-family: Roboto;
  margin-top: 5px;
  margin-top: 0.38325rem;
  margin-bottom: 5px;
  margin-bottom: 0.38325rem;
}
main .cont_map .middle .cont_map_list {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 5rem;
}
main .cont_map .middle .cont_map_list div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 13.33333%;
  float: left;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
  margin-left: 2%;
}
main .cont_map .middle .cont_map_list div p {
  min-height: 6rem;
  text-align: center;
}
main .cont_map h3 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 65.33333%;
  float: left;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
  margin-left: 17.33333%;
  margin-right: 2.6rem;
  padding-bottom: 18px;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #2cc457;
}
main #map {
  position: relative;
  z-index: 88;
  padding-left: 0;
  padding-right: 0;
  height: 30rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
}

footer {
  background: #000;
}
footer .middle {
  padding-top: 396px;
  padding-top: 33rem;
  padding-bottom: 36px;
  padding-bottom: 3rem;
}
footer .img_logo {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 20%;
  float: left;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
  margin-left: 1.33333%;
}
footer .img_logo img {
  width: 80%;
  padding: 0;
  margin: 0;
}
footer nav {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 53.33333%;
  float: left;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer nav ul {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
}
footer nav li {
  display: inline;
  padding: 0 1%;
}
footer nav li::after {
  content: '/';
  margin-left: 1%;
}
footer nav li:last-child::after {
  content: "";
}
footer nav a {
  font-size: 18px;
  font-size: 1.5rem;
  line-height: 36px;
  line-height: 3rem;
  color: #fff;
}
footer button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 18.66667%;
  float: right;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
  background: #2cc456;
  color: #fff;
  margin-right: 2.4rem;
}
footer .corporation {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
  padding-top: 9px;
  padding-top: 0.75rem;
  margin-top: 9px;
  margin-top: 0.75rem;
}
footer .corporation p {
  border-top: 1px solid #2cc456;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 18.66667%;
  float: right;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
  margin-right: 2rem;
  text-align: center;
  color: #999;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  -webkit-transition: opacity 500ms ease-in;
  -moz-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
  opacity: 0;
  pointer-events: none;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}

.modal > div {
  border-top: 5px solid #2cc456;
  width: 40em;
  background: #ffffff;
  position: relative;
  margin: 10% auto;
  -webkit-animation: minimise 500ms linear;
  -webkit-box-shadow: 0 3px 20px #2cc357;
  -moz-box-shadow: 0 3px 20px #2cc357;
  box-shadow: 0 3px 20px #2cc357;
  text-shadow: 0 1px 0 #fff;
}

.modal:target > div {
  -webkit-animation-name: bounce;
}

.modal h3 {
  padding: 20px 0 20px;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale3d(0.1, 0.1, 1);
    -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
  }
  55% {
    -webkit-transform: scale3d(1.08, 1.08, 1);
    -webkit-box-shadow: 0 10px 20px transparent;
  }
  75% {
    -webkit-transform: scale3d(0.95, 0.95, 1);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
  }
}
@-webkit-keyframes minimise {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
  }
  100% {
    -webkit-transform: scale3d(0.1, 0.1, 1);
  }
}
.modal a[href="#close"] {
  position: absolute;
  right: 0;
  top: 0;
  color: transparent;
}

.modal a[href="#close"]:focus {
  outline: none;
}

.modal a[href="#close"]:after {
  content: '';
  display: block;
  background-image: url(../img/close_wins.png);
  background-repeat: no-repeat;
  height: 18px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 20px;
  padding: 1px 1px 1px 2px;
  width: 19px;
  height: 18px;
  color: #010101;
  font-family: PT sans-serif;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: none;
  text-align: center;
  font-weight: bold;
}

.modal a[href="#close"]:focus:after,
.modal a[href="#close"]:hover:after {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
}

.modal a[href="#close"]:focus:after {
  outline: 0px solid #000;
}

.modal .modal_title {
  display: block;
  text-align: center;
  font-size: 22pt;
}

.form1 h1 {
  font-style: italic;
  font-family: sans-serif;
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.fon_form_wins input {
  padding: 5px 5px;
  width: 180px;
  border: 1px solid #2cc451;
  font-family: Roboto;
  font-size: 12px;
  font-size: 1rem;
  line-height: 18px;
  line-height: 1.5rem;
  margin-bottom: 20px;
}

.fon_form_wins input.button {
  font-size: 12px;
  font-size: 1rem;
  line-height: 18px;
  line-height: 1.5rem;
  background: #000;
  color: white;
}
